/* Scss Document */


// For design-specific breakpoints
// parse break point value (integer)
@mixin break($breakPoint) {
   @media screen and (max-width: $breakPoint + "px") {
       @content;
   }
}




// Small devices
// Small tablets and large smartphones (landscape view) $screen-sm-max: 576px;
@mixin sm {
   @media (max-width: #{$screen-sm-max}) {
       @content;
   }
}

// Medium devices
// Small tablets (portrait view) $screen-md-max: 768px;
@mixin md {
   @media (max-width: #{$screen-md-max}) {
       @content;
   }
}

// Large devices
// Tablets and small desktops $screen-lg-max: 992px;
@mixin lg {
   @media (max-width: #{$screen-lg-max}) {
       @content;
   }
}

// Extra large devices
// Large tablets and desktops $screen-xl-max: 1200px;
@mixin xl {
   @media (max-width: #{$screen-xl-max}) {
       @content;
   }
}



//----------------
//Typographic mixins
//----------------


@mixin h1($m-top, $m-right, $m-bottom, $m-left) {
	font: 900 3.75rem/4.2rem $primaryFont;
	letter-spacing: -0.1px;
	word-spacing: 0.02em;
	color: $body;
	margin-top: $m-top;
	margin-right: $m-right;
	margin-bottom: $m-bottom;
	margin-left: $m-left;
}


