				 <div class="vis">
							<div class="form-group">
							<label for="formControlInput7"><strong>Gift recipient's name</strong></label>
							<input type="text" class="form-control" ng-model="gift.name" placeholder="Your name" required>
						  </div>

						  <div class="form-group">
							<label for="formControlInput8"><strong>Gift recipient's email</strong></label>
							<input type="email" class="form-control" ng-model="gift.email" placeholder="name@example.com" required>
						  </div>


						<div class="form-group">
							<label for="exampleFormControlTextarea1"><strong>Message to recipient...</strong></label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="4" ng-model="gift.message" max="200" placeholder="Optional. Max 200 ch"></textarea>
						</div>
				</div>